{% extends 'polls/base.html' %}
{% block content %}

<form action="upload_file" enctype="multipart/form-data" method="post">
   {% csrf_token %}
   <div class="input-group input-group-lg">
      <button id="fake-file-button-browse" type="button" class="btn btn-default" onclick="uploadFile();">Upload</button>
      <input type="file" name="file" style="display:none" id="files-input-upload">
      <input type="text" id="fake-file-input-name" disabled="disabled" placeholder="File not selected" class="form-control">
      <input type="submit" value="Отправить" class="btn btn-default">
   </div>
</form>
<br>
<div id="example">
   <h3>To add new questions, please create and download such .xml file</h3>
   <textarea readonly cols="60" rows="17"><?xml version="1.0" encoding="utf-8"?>
        <xml>
        <question question_text="Question 1?">
            <choice is_right="false">Choice 1</choice>
            <choice is_right="false">Choice 2</choice>
            <choice is_right="true">Choice 3</choice>
            <choice is_right="false">Choice 4</choice>
        </question>
        <question question_text="Question 2?">
            <choice is_right="false">Choice 1</choice>
            <choice is_right="false">Choice 2</choice>
            <choice is_right="true">Choice 3</choice>
            <choice is_right="false">Choice 4</choice>
        </question>
    </xml>
    </textarea>
</div>
{% endblock %}