{% load staticfiles %}

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'polls/add_question.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'polls/loggedin.css' %}"/>
<script src="{% static 'polls/add_question.js' %}"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css1">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<section class="pt-5 pb-5 bg-light inner-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="mt-0 mb-3 text-secondary">Add xml file</h1>
                <div class="breadcrumbs">
                    <p class="mb-0 text-secondary">Click <a href="/polls">here</a> to logout  /  <span
                            class="text-success"><a href="/polls/loggedin">Show page with test</a></span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<form action="upload_file" method="post">{%csrf_token%}
    <div class="input-group">
    <span class="input-group-btn">
		<button id="fake-file-button-browse" type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-file"></span>
		</button>
	</span>
        <input type="file" id="files-input-upload" style="display:none">
        <input type="text" id="fake-file-input-name" disabled="disabled" placeholder="File not selected"
               class="form-control">
        <span class="input-group-btn">
        <input value="submit" type="submit">
		<button type="button" class="btn btn-default" disabled="disabled" id="fake-file-button-upload">
			<span class="glyphicon glyphicon-upload"></span>
		</button>
	</span>
    </div>

    <script>
    document.getElementById('fake-file-button-browse').addEventListener('click', function() {
	document.getElementById('files-input-upload').click();
});

document.getElementById('files-input-upload').addEventListener('change', function() {
	document.getElementById('fake-file-input-name').value = this.value;

	document.getElementById('fake-file-button-upload').removeAttribute('disabled');
});

    </script>


