{% extends 'polls/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Data_passing</th>
                    <th>Number of correct answer</th>
                    <th>Number of incorrect answer</th>
                </tr>
                </thead>
                <tbody id="myTable">
                {% for test in h.test_set.all %}
                {% if test.number_of_correct_answer > test.number_of_incorrect_answer %}
                <tr class="bg-success">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ test.data_passing }}</td>
                    <td>{{ test.number_of_correct_answer }}</td>
                    <td>{{ test.number_of_incorrect_answer }}</td>
                </tr>
                {% else %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ test.data_passing }}</td>
                    <td>{{ test.number_of_correct_answer }}</td>
                    <td>{{ test.number_of_incorrect_answer }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
    </div>
</div>
{% endblock %}