{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/invalid_login.css' %}"/>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<div class="container">
    <div class="jumbotron">
        <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i></div>
        <h1 class="text-center">Your login details are invalid!<p> </p><p><small class="text-center"> Oh noes everything broke</small></p></h1>
        <p class="text-center"><a class="btn btn-primary" href="/polls"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;Click to login again</a></p>
    </div>
</div>