{% extends 'polls/base.html' %}

{% block content %}
<div class="col-md-4">
    <h2>Choose language</h2>
    <div class="form-check">
        <label>
            <input type="radio" name="radio" checked id="ph"> <span class="label-text"><a href="/polls/detail">Python</a></span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="radio" name="radio" id="js"> <span class="label-text">JS</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="radio" name="radio" id="db"> <span class="label-text">Database</span>
        </label>
    </div>
</div>
{% endblock %}


