a
{
	color: #4682B4;
}
body
{
	padding: 50px;
}
.col-md-4
{
	padding: 80px;
}
label
{
	color: #666;
	cursor: pointer;
	font-size: 30px;
	position: relative;
}
#ph
{
	position: absolute;
	right: 9000px;
}
#js
{
	position: absolute;
	right: 9000px;
}
#db
{
	position: absolute;
	right: 9000px;
}
#ph + .label-text:before
{
	background: url("images/pyth.png") no-repeat;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 2;
	margin-right: 5px;
	speak: none;
	text-transform: none;
	width: 2em;
}
#ph:checked + .label-text:before
{
	color: white;
	content: ".";
}
#js + .label-text:before
{
	background: url("images/js.png") no-repeat;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 2;
	margin-right: 5px;
	speak: none;
	text-transform: none;
	width: 2em;
}
#js:checked + .label-text:before
{
	color: white;
	content: ".";
}
#db + .label-text:before
{
	background: url("images/db.png") no-repeat;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 2;
	margin-right: 5px;
	text-transform: none;
	width: 2em;
}
#db:checked + .label-text:before
{
	color: white;
	content: ".";
}