a{
color: #4682B4
}

body{
	padding: 50px;
}

.col-md-4{
padding: 80px;
}
label{
	position: relative;
	cursor: pointer;
	color: #666;
	font-size: 30px;
}

#ph{
	position: absolute;
	right: 9000px;
}
#js{
	position: absolute;
	right: 9000px;
}
#db{
	position: absolute;
	right: 9000px;
}


/*Radio box*/
#ph + .label-text:before{
background: url("images/pyth.png") no-repeat;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 2;
	width: 2em;
	display: inline-block;
	margin-right: 5px;
}

#ph:checked + .label-text:before{
	content: ".";
	color: white;
}

#js + .label-text:before{
background: url("images/js.png") no-repeat;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 2;
	width: 2em;
	display: inline-block;
	margin-right: 5px;
}

#js:checked + .label-text:before{
	content: ".";
	color: white;
}

#db + .label-text:before{
background: url("images/db.png") no-repeat;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 2;
	width: 2em;
	display: inline-block;
	margin-right: 5px;
}

#db:checked + .label-text:before{
	content: ".";
	color: white;
}





